body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    margin: 0;
}

.container {
    background: #ffffffdd;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 220px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #0078ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
}

button:hover {
    background-color: #005fcc;
}

#weatherResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}


@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.weather-icon {
    width: 80px;
    height: 80px;
}